<p id="notice"><%= notice %></p>

<h1>Listing Events</h1>

<br>

<div id='calendar'>
  

</div>

<script>
$(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
        events: '/events.json',
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month, agendaDay, agendaWeek'
                }
    })

});
</script>

<%= link_to 'New Event', new_event_path %>
